@import "../../../../../assets/scss/variables/colors";
@media (min-width:320px) and (max-width:800px) {
  #app {
    .b-footer {
      flex-wrap: wrap;
      position: relative;
      &__b-about-author,
      &__b-about-project,
      &__b-meta-info {
        width: 50%;
        padding: 10px 15px;
      }
      &__b-about-project {
        border-right: none;
      }
      &__b-meta-info {
        display: none;
      }
    }
  }
}