@import "../../../../../assets/scss/variables/colors";
.b-footer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 5vh;
  position: fixed;
  bottom: 0;
  z-index: 1201;
  background-color: white;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 1vh;
  padding-top: 1vh;
  &__b-about-author,
  &__b-about-project,
  &__b-meta-info {
    display: flex;
    padding-left: 30px;
    width: 33%;
    flex-wrap: wrap;
    border-right: 2px solid $react-blue;
    &__header {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      color: $primary-purple;
      margin-top: 0;
    }
    &__link {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      color: $primary-purple;
      text-decoration: none;
      align-items: center;
      &:visited {
        color: $black;
      }
      &:hover {
        color: $primary-purple;
      }
      &__icon {
        margin-left: 10px;
      }
    }
  }
  &__b-meta-info {
    border-right: none;
  }
}