@media (min-width: 320px) and (max-width: 800px) {
  .b-transition-container {
    .b-login-form {
      margin: 0 auto;
      width: 280px;
      min-height: 50vh;
      max-height: 55vh;
      padding: 10px;
      top: 15%;
    }
  }
}