@import "../../../../../assets/scss/variables/colors";
.b-login-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 0;
  height: 40%;
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  flex-wrap: wrap;
  width: 350px;
  padding: 20px;
  margin: 0 calc((100vw - 350px)/2);
  transition: all 500ms linear;
  &__header {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    color: $primary-purple;
  }
  &__form-group{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &.b-form-control {
      margin-top: 25px;
      margin-bottom: 25px;
      justify-content: center;
      background-color: transparent;
      .b-form-control__button {
        width: 100%;
      }
    }
  }
}