@media (min-width: 320px) and (max-width: 800px) {
  .b-transition-container {
    .b-registration-form {
      margin: 0 auto;
      top: 10%;
      min-height: 50vh;
      max-height: 70vh;
      width: 100%;
    }
  }
}