@import "../../../../../assets/scss/variables/colors";
.b-registration-form {
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  flex-wrap: wrap;
  width: 400px;
  padding: 20px;
  margin: 0 calc((100vw - 350px)/2);
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  bottom: 0;
  transition: all 500ms linear;
  flex-direction: column;
  flex: 1 1 auto;
  &__header {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    color: $primary-purple;
  }
  &__form-group {
    display: flex;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    width: 100%;
    &.b-form-control {
      justify-content: center;
      .b-form-control__button {
        width: 100%;
      }
    }
  }
}