@import "../../../../assets/scss/variables/colors";
.b-login-form {
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  flex-wrap: wrap;
  width: 350px;
  padding: 20px;
  margin: 0 auto;
  &__header {
    display: flex;
    width: 100%;
    font-size: 26px;
    justify-content: center;
  }
  &__form-group {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
    &.b-form-control {
      justify-content: center;
      &__button {
        width: 100%;
      }
    }
  }
}