@import "../../../../assets/scss/variables/colors";
.b-login-form {
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  flex-wrap: wrap;
  width: 350px;
  padding: 20px;
  margin: 0 auto;
  &__header {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    color: $primary-purple;
  }
  &__form-group{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px!important;
    margin-top: 10px!important;
    &.b-form-control {
      margin-top: 25px;
      margin-bottom: 25px;
      justify-content: center;
      background-color: transparent;
      .b-form-control__button {
        width: 100%;
      }
    }
  }
}