@media (min-width: 320px) and (max-width: 800px) {
  #app {
    .b-user-page {
      &__header {
        margin-top: 0;
      }
      &__b-user-avatar {
        width: 45%;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        &__form {
          &__b-form-group {
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
      &__b-user-data {
        width: 45%;
        margin-left: 10px;
        margin-bottom: 10px;
        &__form {
          justify-content: center;
          &__b-form-group {
            &__label {
              display: none;
            }
            &__input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}