@import "../../../../assets/scss/variables/colors";
@media (min-width:320px) and (max-width:800px) {
  .b-main-header {
    min-height: 10vh;
  }
  .b-main-container {
    min-height: auto;
    padding-top: 15vh;
  }
}