@media (min-width:320px) and (max-width:800px) {
  #app {
    min-width: 400px;
    .b-main-container {
      flex-grow: 1;
      min-height: 85vh;
      padding-top: 15vh;
      .b-transition-container {
        overflow: scroll;
      }
    }
  }
}