@import "../../../../assets/scss/variables/colors";
#app {
  font-family: Roboto, sans-serif;
}
.b-main-container {
  background-color: $light-gray;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: $black;
  padding: 5vh 5% 15vh 5%;
  position: relative;
  .b-transition-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-self: center;
    width: 100%;
    height: 100%;
    .fade-enter {
      opacity: 0;
      z-index: 1;
      transition: all 500ms ease-in;
      margin: 0;
      &-active {
        opacity: 0.3;
        transition: all 500ms ease-in;
      }
      &-done {
        opacity: 1;
        transition: all 500ms ease-in;
      }
    }
  }
}